<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="profile">
  <ion-list>
    <ion-list-header>
     *Please fill in the Important Information.
     <br><br>
     *Tap on the information to edit details.
    </ion-list-header>

    <ion-item (click)="updateName()">
      <ion-grid>
        <ion-row>
          <ion-col width-50 required>
            Name
          </ion-col>
          <ion-col *ngIf="userProfile?.firstName || userProfile?.lastName">
            {{userProfile?.firstName}} {{userProfile?.lastName}}
          </ion-col>
          <ion-col class="placeholder-profile" *ngIf="!userProfile?.firstName">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
 <ion-item (click)="updatefatherName()">
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            Father's name
          </ion-col>
          <ion-col *ngIf="userProfile?.fatherName">
            {{userProfile?.fatherName}}
          </ion-col>
          <ion-col class="placeholder-profile" *ngIf="!userProfile?.fatherName">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-label>Date Of Birth</ion-label>
      <ion-datetime displayFormat="MMM D, YYYY" pickerFormat="D MMM YYYY"
        [(ngModel)]="birthDate" (ionChange)="updateDOB(birthDate)"></ion-datetime>
    </ion-item>
    <ion-item (click)="updateland()"> 
 <ion-grid>
        <ion-row>
          <ion-col width-50>
            Total Land Holding:
          </ion-col>
          <ion-col *ngIf="userProfile?.LandHolding">
            {{userProfile?.LandHolding}}
          </ion-col>
          <ion-col class="placeholder-profile" *ngIf="!userProfile?.LandHolding">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
<ion-label>Cropping Calender</ion-label>
    </ion-item>
<ion-item>
	<ion-label>Kharif Season :</ion-label>
	<ion-select [(ngModel)]="Kcrops" (ionChange)="updateKharif(Kcrops)" multiple="true">
    <ion-option>Rice</ion-option>
    <ion-option>maize</ion-option>
    
  </ion-select>
  </ion-item>
  <ion-item>
  <ion-label>Rabi Season :</ion-label>
	<ion-select [(ngModel)]="Rcrops" (ionChange)="updateRabi(Rcrops)" multiple="true">
    <ion-option>Wheat</ion-option>
    <ion-option>barley</ion-option>
    
  </ion-select>
</ion-item>
 <ion-item (click)="updateBankDetails()"> 
 <ion-grid>
        <ion-row>
          <ion-col width-50>
            Bank Details
          </ion-col>
           <ion-col *ngIf="userProfile?.BankName || userProfile?.BankNumber">
            {{userProfile?.BankName }} {{userProfile?.BankNumber}}
          </ion-col>
          <ion-col class="placeholder-profile" *ngIf="!userProfile?.BankNumber">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item (click)="updateEmail()">
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            Email
          </ion-col>
          <ion-col width-50 *ngIf="userProfile?.email">
            {{userProfile?.email}}
          </ion-col>
          <ion-col class="placeholder-profile" *ngIf="!userProfile?.email">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
<ion-item>
 <ion-grid>
        <ion-row>
<ion-col width-50>
            Create Group
          </ion-col>
<ion-col class="placeholder-profile">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
          </ion-row>
          </ion-grid>
</ion-item>

    <ion-item (click)="updatePassword()">
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            Password
          </ion-col>
          <ion-col class="placeholder-profile">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

