<!--
  Generated template for the ReqFertilizers page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Request Fertilizers
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-label>Organic Fertilizers</ion-label>
 <ion-item text-wrap *ngFor="let elem of elems;let i = index; ">{{i + 1}}..Organic Fertilizer : {{elem.ofertilizers}} and quantity : {{elem.num_ofert}}</ion-item>

       <button ion-button ion-button end (click)="addItem()"  >+ Add</button>
 <ion-label>Non-Organic Fertilizers</ion-label>
     <ion-item text-wrap class="item item-text-wrap" *ngFor="let elem2 of elems2;let i = index; ">{{i + 1}}..NonOrganic Fertilizer : {{elem2.nofertilizers}} and quantity : {{elem2.num_nofert}}</ion-item>
       <button ion-button ion-button end (click)="addItem2()" >+ Add</button>
        <button (click)="submitfertreq()" ion-button end color="danger" block>Final Submit</button>
</ion-content>
